<a href="https://colab.research.google.com/github/tazar09/napoleon/blob/main/us_states.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
import numpy as np
import pandas as pd
from datetime import datetime as dt
pd.set_option('display.max_rows', 100)
pd.options.display.max_rows = 100

In [2]:
# pip install autoscraper
# from autoscraper import AutoScraper

In [31]:
url = 'https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States'
df = pd.read_html(url)[1]

In [32]:
df = df.droplevel(axis = 1, level = 0)
df.columns = ['state',
       'abrev', 'capital', 'largest',
       'admission', 'population', 'total_mi2',
       'total_km2', 'land_mi2', 'land_km2', 'water_mi2', 'water_km2', 'representitives']
df['admission'] = pd.to_datetime(df['admission'])

In [34]:
df.head()

,state,abrev,capital,largest,admission,population,total_mi2,total_km2,land_mi2,land_km2,water_mi2,water_km2,representitives
0,Alabama,AL,Montgomery,Huntsville,1819-12-14,5024279,52420,135767,50645,131171,1775,4597,7
1,Alaska,AK,Juneau,Anchorage,1959-01-03,733391,665384,1723337,570641,1477953,94743,245384,1
2,Arizona,AZ,Phoenix,Phoenix,1912-02-14,7151502,113990,295234,113594,294207,396,1026,9
3,Arkansas,AR,Little Rock,Little Rock,1836-06-15,3011524,53179,137732,52035,134771,1143,2961,4
4,California,CA,Sacramento,Los Angeles,1850-09-09,39538223,163695,423967,155779,403466,7916,20501,52

Make a column which shows the order of the admission by date.

In [36]:
df.sort_values(by = 'admission', ascending = True).head()

,state,abrev,capital,largest,admission,population,total_mi2,total_km2,land_mi2,land_km2,water_mi2,water_km2,representitives
7,Delaware,DE,Dover,Wilmington,1787-12-07,989948,2489,6446,1949,5047,540,1399,1
37,Pennsylvania[B],PA,Harrisburg,Philadelphia,1787-12-12,13002700,46054,119280,44743,115883,1312,3397,17
29,New Jersey,NJ,Trenton,Newark,1787-12-18,9288994,8723,22591,7354,19047,1368,3544,12
9,Georgia,GA,Atlanta,Atlanta,1788-01-02,10711908,59425,153910,57513,148959,1912,4951,14
6,Connecticut,CT,Hartford,Bridgeport,1788-01-09,3605944,5543,14357,4842,12542,701,1816,5

In [54]:
df['date_rank'] = df['admission'].rank(ascending = True).astype(int)
df['state_time_days'] = (datetime.now() - df['admission']).dt.days
df['state_time_years'] = df['state_time_days']/365
df['state_time_years'] = df['state_time_years'].round(2)

In [55]:
df.sort_values('date_rank')

,state,abrev,capital,largest,admission,population,total_mi2,total_km2,land_mi2,land_km2,water_mi2,water_km2,representitives,date_rank,state_time,state_time_days,state_time_years
7,Delaware,DE,Dover,Wilmington,1787-12-07,989948,2489,6446,1949,5047,540,1399,1,1,86175,86175,236.10
37,Pennsylvania[B],PA,Harrisburg,Philadelphia,1787-12-12,13002700,46054,119280,44743,115883,1312,3397,17,2,86170,86170,236.08
29,New Jersey,NJ,Trenton,Newark,1787-12-18,9288994,8723,22591,7354,19047,1368,3544,12,3,86164,86164,236.07
9,Georgia,GA,Atlanta,Atlanta,1788-01-02,10711908,59425,153910,57513,148959,1912,4951,14,4,86149,86149,236.02
6,Connecticut,CT,Hartford,Bridgeport,1788-01-09,3605944,5543,14357,4842,12542,701,1816,5,5,86142,86142,236.01
20,Massachusetts[B],MA,Boston,Boston,1788-02-06,7029917,10554,27336,7800,20202,2754,7134,9,6,86114,86114,235.93
19,Maryland,MD,Annapolis,Baltimore,1788-04-28,6177224,12406,32131,9707,25142,2699,6990,8,7,86032,86032,235.70
39,South Carolina,SC,Columbia,Charleston,1788-05-23,5118425,32020,82933,30061,77857,1960,5076,7,8,86007,86007,235.64
28,New Hampshire,NH,Concord,Manchester,1788-06-21,1377529,9349,24214,8953,23187,397,1027,2,9,85978,85978,235.56
45,Virginia[B],VA,Richmond,Virginia Beach,1788-06-25,8631393,42775,110787,39490,102279,3285,8508,11,10,85974,85974,235.55
31,New York,NY,Albany,New York City,1788-07-26,20201249,54555,141297,47126,122057,7429,19240,26,11,85943,85943,235.46
32,North Carolina,NC,Raleigh,Charlotte,1789-11-21,10439388,53819,139391,48618,125920,5201,13471,14,12,85460,85460,234.14
38,Rhode Island,RI,Providence,Providence,1790-05-29,1097379,1545,4001,1034,2678,511,1324,2,13,85271,85271,233.62
44,Vermont,VT,Montpelier,Burlington,1791-03-04,643077,9616,24906,9217,23871,400,1035,1,14,84992,84992,232.85
16,Kentucky[B],KY,Frankfort,Louisville,1792-06-01,4505836,40408,104656,39486,102269,921,2387,6,15,84537,84537,231.61
41,Tennessee,TN,Nashville,Nashville,1796-06-01,6910840,42144,109153,41235,106798,909,2355,9,16,83076,83076,227.61
34,Ohio,OH,Columbus,Columbus,1803-03-01,11799448,44826,116098,40861,105829,3965,10269,15,17,80613,80613,220.86
17,Louisiana,LA,Baton Rouge,New Orleans,1812-04-30,4657757,52378,135659,43204,111898,9174,23761,6,18,77265,77265,211.68
13,Indiana,IN,Indianapolis,Indianapolis,1816-12-11,6785528,36420,94326,35826,92789,593,1537,9,19,75579,75579,207.07
23,Mississippi,MS,Jackson,Jackson,1817-12-10,2961279,48432,125438,46923,121531,1508,3907,4,20,75215,75215,206.07
12,Illinois,IL,Springfield,Chicago,1818-12-03,12812508,57914,149995,55519,143793,2395,6202,17,21,74857,74857,205.09
0,Alabama,AL,Montgomery,Huntsville,1819-12-14,5024279,52420,135767,50645,131171,1775,4597,7,22,74481,74481,204.06
18,Maine,ME,Augusta,Portland,1820-03-15,1362359,35380,91633,30843,79883,4537,11750,2,23,74389,74389,203.81
24,Missouri,MO,Jefferson City,Kansas City,1821-08-10,6154913,69707,180540,68742,178040,965,2501,8,24,73876,73876,202.40
3,Arkansas,AR,Little Rock,Little Rock,1836-06-15,3011524,53179,137732,52035,134771,1143,2961,4,25,68453,68453,187.54
21,Michigan,MI,Lansing,Detroit,1837-01-26,10077331,96714,250487,56539,146435,40175,104052,13,26,68228,68228,186.93
8,Florida,FL,Tallahassee,Jacksonville,1845-03-03,21538187,65758,170312,53625,138887,12133,31424,28,27,65270,65270,178.82
42,Texas,TX,Austin,Houston,1845-12-29,29145505,268596,695662,261232,676587,7365,19075,38,28,64969,64969,178.00
14,Iowa,IA,Des Moines,Des Moines,1846-12-28,3190369,56273,145746,55857,144669,416,1077,4,29,64605,64605,177.00
48,Wisconsin,WI,Madison,Milwaukee,1848-05-29,5893718,65496,169635,54158,140268,11339,29367,8,30,64087,64087,175.58
4,California,CA,Sacramento,Los Angeles,1850-09-09,39538223,163695,423967,155779,403466,7916,20501,52,31,63254,63254,173.30
22,Minnesota,MN,Saint Paul,Minneapolis,1858-05-11,5706494,86936,225163,79627,206232,7309,18930,8,32,60453,60453,165.62
36,Oregon,OR,Salem,Portland,1859-02-14,4237256,98379,254799,95988,248608,2391,6191,6,33,60174,60174,164.86
15,Kansas,KS,Topeka,Wichita,1861-01-29,2937880,82278,213100,81759,211754,520,1346,4,34,59459,59459,162.90
47,West Virginia,WV,Charleston,Charleston,1863-06-20,1793716,24230,62756,24038,62259,192,497,2,35,58587,58587,160.51
27,Nevada,NV,Carson City,Las Vegas,1864-10-31,3104614,110572,286380,109781,284332,791,2048,4,36,58088,58088,159.15
26,Nebraska,NE,Lincoln,Omaha,1867-03-01,1961504,77348,200330,76824,198974,524,1356,3,37,57237,57237,156.81
5,Colorado,CO,Denver,Denver,1876-08-01,5773714,104094,269601,103642,268431,452,1170,8,38,53796,53796,147.39
40,South Dakota,SD,Pierre,Sioux Falls,1889-11-02,886667,77116,199729,75811,196350,1305,3379,1,39,48955,48955,134.12
33,North Dakota,ND,Bismarck,Fargo,1889-11-02,779094,70698,183108,69001,178711,1698,4397,1,39,48955,48955,134.12
25,Montana,MT,Helena,Billings,1889-11-08,1084225,147040,380831,145546,376962,1494,3869,2,41,48949,48949,134.11
46,Washington,WA,Olympia,Seattle,1889-11-11,7705281,71298,184661,66456,172119,4842,12542,10,42,48946,48946,134.10
11,Idaho,ID,Boise,Boise,1890-07-03,1839106,83569,216443,82643,214045,926,2398,2,43,48712,48712,133.46
49,Wyoming,WY,Cheyenne,Cheyenne,1890-07-10,576851,97813,253335,97093,251470,720,1864,1,44,48705,48705,133.44
43,Utah,UT,Salt Lake City,Salt Lake City,1896-01-04,3271616,84897,219882,82170,212818,2727,7064,4,45,46701,46701,127.95
35,Oklahoma,OK,Oklahoma City,Oklahoma City,1907-11-16,3959353,69899,181037,68595,177660,1304,3377,5,46,42368,42368,116.08
30,New Mexico,NM,Santa Fe,Albuquerque,1912-01-06,2117522,121590,314917,121298,314161,292,757,3,47,40856,40856,111.93
2,Arizona,AZ,Phoenix,Phoenix,1912-02-14,7151502,113990,295234,113594,294207,396,1026,9,48,40817,40817,111.83
1,Alaska,AK,Juneau,Anchorage,1959-01-03,733391,665384,1723337,570641,1477953,94743,245384,1,49,23692,23692,64.91
10,Hawaii,HI,Honolulu,Honolulu,1959-08-21,1455271,10932,28313,6423,16635,4509,11678,2,50,23462,23462,64.28